* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

/*html{
    overflow: auto;
}*/
.preloader{
    background-color: rgb(228, 182, 149);
    width: 100vw;
    height: 100vh;
    font-size: 3.5rem;
    color: rgb(168, 129, 100);
    position:fixed;
    z-index:9999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease-in-out;
}

.preload-finish{
    opacity:0;
    pointer-events: none;
}

.preloader-text {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container1 {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.container2 {
  width: 100%;
  height: 100%;
}

.container3 {
  max-width: 90%;
  height: 90%;
  margin: 2rem auto 0;
}

h1 {
  text-align: center;
  font-size: 15vw;
  font-family: 'Alex Brush', cursive;
  color: #c49574;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

h2 {
  color: #0d474d;
}

/*navbar*/
.navbar {
  z-index: 2;
  width: 100%;
  height: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: #f8c39d;
  font-size: 0.7rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar a:hover {
  color: #fdebdc;
  font-size: 0.8rem;
}

.navbar .active {
  color: #fdebdc;
  font-size: 0.7rem;
}

/*home*/
#home {
  margin-top: -1.5rem;
  background-image: url("../img/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

#home .container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15vw;
  margin: 4rem auto;
  color: #f1c19e;
}

#home .name {
  font-weight: bolder;
  -ms-flex-item-align: start;
      align-self: flex-start;
  letter-spacing: 0.1rem;
}

#home .quote {
  font-size: 2.3rem;
  font-family: 'Alex Brush', cursive;
  word-spacing: 0.3rem;
  width: 35vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#home span {
  color: #f8d5b9;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/*profile*/
#profile {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f1c19e), to(#e4b695));
  background-image: linear-gradient(to bottom right, #f1c19e, #e4b695);
  position: relative;
}

.profile-info {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f1c19e), to(#e4b695));
  background-image: linear-gradient(to bottom right, #f1c19e, #e4b695);
  -webkit-box-shadow: 1px 2px 6px #9e785d;
          box-shadow: 1px 2px 6px #9e785d;
  border-radius: 30px;
  margin: -6.5% auto 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3%;
  color: #381e0a;
}

.greeting {
  width: 20%;
  margin-top: 4vw;
  line-height: 2rem;
  font-weight: 600;
}

.greeting span {
  font-size: 1.3rem;
}

.profile-pic {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.profile-pic img {
  width: 23vw;
  height: 23vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -15px;
     object-position: 0 -15px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px #94755f;
          box-shadow: 0px 0px 4px #94755f;
}

.aboutme {
  width: 40%;
  height: 100%;
  text-align: justify;
}

.aboutme > h2 {
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 2px  solid #0d474d;
  padding: 0.7rem;
  font-size: 1.7rem;
}

.aboutme > p {
  line-height: 1.5rem;
}

/*My Work*/
#mywork {
  background-image: url("../img/mywork.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#mywork::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 10, 10, 0.8);
  width: 100%;
  height: 100%;
}

#mywork h1 {
  width: 100%;
  font-size: 10vw;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  color: #f1c19e;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#mywork .container3 {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mywork .content {
  width: 80%;
  min-width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding-bottom: 5rem;
}

#mywork .content .card {
  width: 60%;
  min-width: 10rem;
  height: 40%;
  position: relative;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  border-style: solid;
  padding: 0.5rem;
  border-width: 0 0 2px;
  border-color: rgba(0, 0, 0, 0.7);
}

#mywork .content .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#mywork .content .card h2 {
  color: whitesmoke;
  font-size: 2rem;
}

#mywork .content .card h5 {
  color: #d3ab8f;
  margin-top: 0.2rem;
}

.btn {
  width: 80px;
  height: 35px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #412020;
  padding: auto 1rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mywork .content .card .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#mywork .content .card a {
  color: whitesmoke;
}

.story {
  width: 80%;
  height: 90%;
  word-wrap: break-word;
}

/*contact*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #300e0e;
  color: white;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: .7rem;
  margin: 0.8rem;
}

.contact .content * {
  color: white;
  letter-spacing: .1rem;
  text-decoration: none;
  margin: 0 0.3rem;
}

.contact .content .email::before {
  font-family: "FontAwesome";
  content: "\f0e0";
}

/*for mobile phones*/
@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .container2 {
    position: relative;
  }
  .container3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    font-size: 6rem;
  }
  /*navbar*/
  .navbar {
    display: none;
  }
  /*home*/
  #home {
    margin-top: 0;
    background-position-x: 20%;
  }
  #home::before {
    content: '';
    height: 100%;
    width: 100%;
    /*background-color: rgb(0, 0, 0 ,0.7);*/
    background-image: radial-gradient(rgba(71, 51, 51, 0.7), rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    position: absolute;
  }
  #home .name, #home .quote {
    position: absolute;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  #home .quote {
    color: #fac9a6;
    margin: 40% auto;
  }
  /*profile*/
  #profile {
    height: auto;
    padding-bottom: 5%;
  }
  .profile-info {
    height: auto;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-info * {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 2% auto;
    font-size: 15px;
  }
  .profile-pic img {
    width: 12rem;
    height: 12rem;
  }
  /*mywork*/
  #mywork h1 {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=main_style.css.map */
